<a href="https://colab.research.google.com/github/pratikshas8080/Python_Basics-/blob/master/If_Else_While_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***This Notebook Containing Topics All Loops Which is Mostly used in Python.!***

In [1]:
#if conditional statement 
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [2]:
#Elif conditional statement
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [3]:
#else how tho use 
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [4]:
#short hand if 
if a > b: print("a is greater than b")

a is greater than b

In [5]:
#short hand if else 
a = 2
b = 330
print("A") if a > b else print("B")

B

In [6]:
#example 3 condition in short 
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [7]:
#The and keyword is a logical operator, and is used to combine conditional statements
#how to use AND 
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [8]:
#The or keyword is a logical operator, and is used to combine conditional statements
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [9]:
#Nested if 
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [10]:
#the pass statement 
a = 33
b = 200

if b > a:
  pass

In [11]:
#while loop 
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [12]:
#the break statement 
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [13]:
#the continue statement 
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [14]:
#the Else statement 
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [15]:
#For Loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [16]:
#looping through string
for x in "banana":
  print(x)

b
a
n
a
n
a

In [17]:
#the break statement 
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [18]:
#example 
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [19]:
#continue statement 
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [20]:
#range function 
for x in range(6):
  print(x)

0
1
2
3
4
5

In [21]:
#Example
for x in range(2, 6):
  print(x)

2
3
4
5

In [22]:
#swquential increments
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [23]:
#else in for loop 
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [24]:
#Nested loop 
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [25]:
#pass
for x in [0, 1, 2]:
  pass