<a href="https://colab.research.google.com/github/pratikshas8080/Python_Basics-/blob/master/Iterators_and_localOrGlobal_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#python Iterators
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [2]:
#Example 
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [3]:
#Iterate the values of a tuple
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

In [4]:
#Iterate the values of a string
mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

In [5]:
#Example
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [6]:
#In the __next__() method, we can add a terminating condition to raise an error if the iteration is done a specified number of times
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [7]:
#local Scope 
def myfunc():
  x = 300
  print(x)

myfunc()

300

In [8]:
#The local variable can be accessed from a function within the function
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

In [9]:
#A variable created in the main body of the Python code is a global variable and belongs to the global scope
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

In [10]:
#If you operate with the same variable name inside and outside of a function, Python will treat them as two separate variables, one available in the global scope (outside the function) and one available in the local scope (inside the function)
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

In [11]:
#If you use the global keyword, the variable belongs to the global scope
def myfunc():
  global x
  x = 300

myfunc()

print(x)

300

In [12]:
#To change the value of a global variable inside a function, refer to the variable by using the global keyword
x = 300

def myfunc():
  global x
  x = 200

myfunc()

print(x)

200