<a href="https://colab.research.google.com/github/pratikshas8080/Python_Basics-/blob/master/Math_JSON_ReEx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#The min() and max() functions can be used to find the lowest or highest value in an iterable
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

In [2]:
#The abs() function returns the absolute (positive) value of the specified number
x = abs(-7.25)

print(x)

7.25

In [3]:
#The pow(x, y) function returns the value of x to the power of y (xy)
x = pow(4, 3)

print(x)

64

In [4]:
#Python has also a built-in module called math, which extends the list of mathematical functions
import math

In [5]:
import math

x = math.sqrt(64)

print(x)

8.0

In [6]:
#The math.ceil() method rounds a number upwards to its nearest integer, and the math.floor() method rounds a number downwards to its nearest integer, and returns the result
import math

x = math.ceil(1.4)
y = math.floor(1.4)

print(x) # returns 2
print(y) # returns 1

2
1

In [7]:
#The math.pi constant, returns the value of PI (3.14...)
import math

x = math.pi

print(x)

3.141592653589793

In [8]:
#Python has a built-in package called json, which can be used to work with JSON data
import json

In [9]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

In [10]:
#If you have a Python object, you can convert it into a JSON string by using the json.dumps() method
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [11]:
#Convert Python objects into JSON strings, and print the values
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [12]:
#Convert a Python object containing all the legal data types
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [13]:
#Use the indent parameter to define the numbers of indents
json.dumps(x, indent=4)

'{\n    "name": "John",\n    "age": 30,\n    "married": true,\n    "divorced": false,\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "pets": null,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ]\n}'

In [14]:
json.dumps(x, indent=4, separators=(". ", " = "))

'{\n    "name" = "John". \n    "age" = 30. \n    "married" = true. \n    "divorced" = false. \n    "children" = [\n        "Ann". \n        "Billy"\n    ]. \n    "pets" = null. \n    "cars" = [\n        {\n            "model" = "BMW 230". \n            "mpg" = 27.5\n        }. \n        {\n            "model" = "Ford Edge". \n            "mpg" = 24.1\n        }\n    ]\n}'

In [15]:
#Use the sort_keys parameter to specify if the result should be sorted or not
json.dumps(x, indent=4, sort_keys=True)

'{\n    "age": 30,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ],\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "divorced": false,\n    "married": true,\n    "name": "John",\n    "pets": null\n}'

In [16]:
#Python has a built-in package called re, which can be used to work with Regular Expressions.

#Import the re module

import re

In [18]:
import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

In [19]:
#The findall() function returns a list containing all matches
import re

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [20]:
#Return an empty list if no match was found
import re

txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

In [21]:
#The search() function searches the string for a match, and returns a Match object if there is a match
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [22]:
import re

txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

In [23]:
#The search() function searches the string for a match, and returns a Match object if there is a match
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [24]:
import re

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

In [25]:
#The split() function returns a list where the string has been split at each match
import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [26]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

['The', 'rain in Spain']

In [27]:
#The sub() function replaces the matches with the text of your choice
import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [28]:
#You can control the number of replacements by specifying the count parameter
import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

In [29]:
import re

txt = "The rain in Spain"
x = re.search("ai", txt)
print(x) #this will print an object

<_sre.SRE_Match object; span=(5, 7), match='ai'>

In [30]:
#The regular expression looks for any words that starts with an upper case "S"
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [31]:
#Print the string passed into the function
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [32]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain