<a href="https://colab.research.google.com/github/pratikshas8080/Python_Basics-/blob/master/Unlimited_guide_to_coding_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
**# This Notebook Contain Tuple, Dictionary, Set**
```

In [ ]:
print("Hello Everyone")

Hello Everyone

In [ ]:
#This is a comment
print("Hello, World!")

Hello, World!

Variable Declaration

In [ ]:
#variable Declaration
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [ ]:
#If you try to combine a string and a number, Python will give you an error
x = 5
y = "John"
print(x + y)

TypeError: ignored

In [ ]:
#global Variable
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

#Example2
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is awesome
Python is fantastic

Number Types

In [ ]:
#Numbers
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
#Another Example of Number
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from int to complex:
c = complex(x)

print(a)

print(c)

print(type(a))
print(type(c))

1.0
(1+0j)
<class 'float'>
<class 'complex'>

Random Function

In [ ]:
#random number generate
import random

print(random.randrange(1, 10))

4

In [ ]:
hello_int=21
hello_bool=True
hello_tuple=(21,32)
hello_list=["Hello","This","is","a","List"]

List Append

In [ ]:
hello_list=list()
hello_list.append("Hello")
hello_list.append("This")
hello_list.append("is")
hello_list.append("a")
hello_list.append("List")
print(hello_list)

['Hello', 'This', 'is', 'a', 'List']

Dictionaries

In [ ]:
hello_dict={
    "First_Name":"Pratiksha",
    "Last_Name":"Sawandkar",
    "eye_colour":"Brown"
}
print(hello_dict)

{'First_Name': 'Pratiksha', 'Last_Name': 'Sawandkar', 'eye_colour': 'Brown'}

In [ ]:
#dictionary second Example
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#accessing items
x = thisdict["model"]
print(x)

Mustang

In [ ]:
x = thisdict.get("model")
print(x)

Mustang

In [ ]:
#change Values
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [ ]:
#loop though a dictionary
for x in thisdict:
  print(x)

brand
model
year

In [ ]:
#print all values one by one
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
2018

In [ ]:
#item method
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 2018

In [ ]:
print(len(thisdict))

3

In [ ]:
#adding items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
#removing items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
#pop items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
#using del also remove the elements
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
#clear the dic
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [ ]:
#copy a dict
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#Nested dict
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [ ]:
#Nested dict Example
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

Constructor

In [ ]:
#dict constructor
thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# a control structure that decided to end the program if a number was less than 5 would look something like this:

import sys
int_condition=10

if int_condition < 6:
  sys.exit("int_condition must be <=6")
else:
  print("int_condition was >=6-contining")

int_condition was >=6-contining

In [ ]:
import sys
target_int=input("How many integers")

try:
  target_int = int(target_int)
except ValueError:
  sys.exit("you must enter an integer")

ints=list()

count=0

while count < target_int:
  new_int=input("please enter interger{0}:".format(count+1))
  isint=False
  try:
    new_int=int(new_int)
  except:
    print("you have must integer")

  if isint == True:
    ints.append(new_int)
    count += 1

print("Using a for loop")
for value in ints:
  print(str(value))

*Boolean Values*

In [ ]:
#Boolean Value
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
#boolean value some demostrations
print(bool("Hello"))
print(bool(15))

#Evalvate two variables 
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

#following is return true 
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

#Some Values are false
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

#One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a __len__ function that returns 0 or False
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

True
True
True
True
False

In [ ]:
#Boolean Example Number 2
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

**Tuples**

In [ ]:
#A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.
thistuple = ("apple", "banana", "cherry")
print(thistuple)

#Example1
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

#example2
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

#Example3
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

#Example4
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

#Example5
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

#loop through tuple
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

#if Check item is exists or not
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

#Tuple Length
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

('apple', 'banana', 'cherry')
banana
cherry
('cherry', 'orange', 'kiwi')
('orange', 'kiwi', 'melon')
('apple', 'kiwi', 'cherry')
apple
banana
cherry
Yes, 'apple' is in the fruits tuple
3

In [ ]:
#create tuple with one item
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
#remove tuple
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: ignored

In [ ]:
#joine two tuples 
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

**Set**

In [ ]:
#Set
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [ ]:
#example Set 1
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [ ]:
#add items in the set
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'banana', 'cherry', 'apple'}

In [ ]:
#Add multiple items to a set, using the update() method:

thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'orange', 'mango', 'apple', 'banana', 'grapes', 'cherry'}

In [ ]:
#len method
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [ ]:
#remove items
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [ ]:
#discard items
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

In [ ]:
#Remove the last item by using the pop() method
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [ ]:
#Clear items
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [ ]:
#joine two sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [ ]:
#update the set
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'a', 'c'}